PORT=5001
MONGO_URI=mongodb+srv://geethask:<password>@cluster0.4ntqd0u.mongodb.net/student_db?retryWrites=true&w=majority&appName=Cluster0
# For local databases, use:
# MONGO_URI=mongodb://localhost:27017/student_db
